#g117 {
  --s: 40px; /* control the size */
  
  --c:,#0000 39%,#73C8A9 40% 93%,#0000 94%;
  --_s:calc(1.5*var(--s))/calc(4*var(--s)) calc(3*var(--s));
  background:
    radial-gradient(calc(1.5*var(--s)) at 37.5%   0%var(--c))
     calc(-.5*var(--s)) var(--_s),
    radial-gradient(calc(1.5*var(--s)) at 37.5% 100%var(--c))
     calc(1.5*var(--s)) var(--_s),
    radial-gradient(25% calc(50%/3),#0000 96%,#DEE1B6)
     0 0/calc(2*var(--s)) calc(3*var(--s)),
    repeating-conic-gradient(#BD5532 0 25%,#373B44 0 50%)
     0 0/calc(4*var(--s)) calc(6*var(--s));
}