#g127 {
  --s: 100px; /* control the size */
  
  --c:#0000 48%,#F8EDD1 0 52%,#0000 0;
  background:
    linear-gradient(-45deg,var(--c)),
    linear-gradient( 45deg,var(--c)),
    repeating-conic-gradient(from 45deg,#D88A8A 0 25%,#9D9D93 0 50%);
  background-size: var(--s) var(--s);
}