#g137 {
  --s: 90px; /* control the size */
  --c:#DDD9AB;
  
  --g:#0000 calc(125%/3),var(--c) 0 calc(175%/3),#0000 0;
  --p:calc(var(--s)/2) calc(var(--s)/2)/calc(2*var(--s)) calc(2*var(--s));
  background:
    radial-gradient(var(--c) 34%,#0000 36%) 0 0/var(--s) var(--s),
    linear-gradient( 45deg,var(--g)) var(--p),
    linear-gradient(-45deg,var(--g)) var(--p) #E5625C;
}