.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

/**
 * Module: WOW
 * Filename: ca__wow.css
 */
.ca__fx-blurTrailIn {
  animation-name: blurTrailIn;
  animation-timing-function: ease-out;
  transform-origin: center;
  will-change: transform, opacity;
  filter: blur(8px);
}

@keyframes blurTrailIn {
  0% {
    transform: translateY(60%) scale(1.2);
    filter: blur(12px);
    opacity: 0;
  }

  80% {
    filter: blur(3px);
  }

  100% {
    transform: translateY(0%) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}