.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

/**
 * Module: Flip Y
 * Filename: ca__FlipY.css
 */
.ca__fx-flipY {
  animation-name: flipY;
  backface-visibility: var(--cssanimation-backface-visibility);
  transform-style: var(--cssanimation-transform-style);
  will-change: var(--cssanimation-will-change);
}

@keyframes flipY {
  from {
    transform: perspective(600px) rotateY(180deg);
    opacity: 0;
  }

  to {
    transform: perspective(600px) rotateY(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}