.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

.ca__fx-neonGlow {
  animation: neonGlow 1.5s ease-in-out infinite;
}

@keyframes neonGlow {
  0%,
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #f0f,
      0 0 20px #f0f;
  }

  50% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #0ff,
      0 0 30px #0ff;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}