.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

.ca__fx-pepe {
  animation-name: pepe;
}

@keyframes pepe {
  0%,
  33%,
  66%,
  100% {
    transform: rotate(4deg);
  }

  16%,
  50%,
  83% {
    transform: rotate(-4deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}