.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

.ca__fx-shockInBottom {
  animation-name: shockInBottom;
}

@keyframes shockInBottom {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 400);
  }

  35% {
    transform: matrix(1, 0, 0, 1, 0, -50);
  }

  43% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}