.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

.ca__fx-skewOutRight {
  animation-name: skewOutRight;
}

@keyframes skewOutRight {
  20% {
    transform: skewX(-40deg);
  }

  100% {
    transform: translateX(100%) skewX(-40deg);
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}