.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

/**
 * Module: Skew
 * Filename: ca__Skew.css
 */
.ca__fx-skewLeft {
  animation-name: skewLeft;
}

@keyframes skewLeft {
  70% {
    transform: skewX(40deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}