.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

.ca__fx-slinkyDrop {
  animation: slinkyDrop var(--duration, 1s) ease-in both;
}

@keyframes slinkyDrop {
  0% {
    transform: translateY(-120%);
    scale: 1 0.8;
  }

  40% {
    transform: translateY(20%) scale(1, 1.2);
  }

  60% {
    transform: translateY(-10%) scale(1, 0.95);
  }

  100% {
    transform: translateY(0) scale(1, 1);
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}