.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

/**
 * Module: Spin To
 * Filename: ca__SpinTo.css
 */
.ca__fx-spinToLeft {
  animation-name: spinToLeft;
}

@keyframes spinToLeft {
  from,
  to {
    transform-origin: left bottom;
  }

  from {
    transform: rotate(90deg);
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}