.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

.ca__fx-swingInFromLeft {
  animation-name: swingInFromLeft;
  transform-origin: bottom center;
}

.ca__fx-swingInFromLeft {
  animation-name: swingInFromLeft;
  transform-origin: bottom;
}

@keyframes swingInFromLeft {
  40% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0.9, 0.7, 1.45);
  }
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}